body {
    font-family: Arial, sans-serif;
    background-color: #dbdee6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: #9B7605;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #da890f;
}

