@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Urbanist;
    background-color: #f0f0f0;
    font-size: 16px; /* Aumentando o tamanho da fonte padrão */
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura para ocupar toda a altura da viewport */
}

form {
    background-color: #9B7605;
    padding: 20px;
    border-radius: 5px;
    font-size: 50px;
    border-radius: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 15px; /* Aumentando o preenchimento interno */
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    font-size: 16px; /* Aumentando o tamanho da fonte */
}

button {
    background-color: #FFFFFD;
    color: #000000;
    border: none;
    padding: 15px 20px; /* Aumentando o preenchimento do botão */
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px; /* Aumentando o tamanho da fonte */
}

.botaocriarconta {
    margin-top: 60px;
}

.caixarecuperacaosenha {
    margin-left: 20px;
    padding-top: 20px;
}

.recuperasenha {
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin-left: 15px;
    
}

.fazerlogincom {
    color: white;
    font-size: 15px;
    margin-left: 140px;
}

.botaogoogle{
    width: 300px;
    margin-left: 106px;
}
