@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #dbdee6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-to-home {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #9B7605;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-to-home i {
    margin-right: 5px;
}

h1 {
    margin-bottom: 30px;
    font-size: 32px; /* Ajustando o tamanho da fonte */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: #9B7605;
    color: #fff;
    text-decoration: none;
    font-size: 24px; /* Ajustando o tamanho da fonte */
    padding: 25px 50px; /* Ajustando o tamanho do padding */
    margin-bottom: 20px;
    border-radius: 10px; /* Aumentando o raio da borda */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #da890f;
}

/* Estilo para tornar o botão responsivo */
@media screen and (max-width: 600px) {
    .button {
        font-size: 20px;
        padding: 20px 40px;
    }
}
